/* COLOUR VARIABLES */
:root {
    --dark-colour: #000000;
    --light-colour: #d9d9d9;
}

/* GLOBAL RESET */
* {
    /* font-family: 'Roboto', sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/* BODY */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GAMEBOY */
#gameboy {
    width: 200px;
    height: 450px;
    background-color: #c7c1be;
    border-radius: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.no-highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.screen-container {
    border: 10px solid #908d91;
    height: 100%;
    width: 100%;
}

#screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #9bbc0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0.8;
}

/* START MENU */
#start-menu {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#player-name-container {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#player-name {
    width: 75%;
    padding: 15px 5px;
    font-size: 10px;
    border: none;
    background-color: var(--light-colour);
    color: var(--dark-colour);
    outline: none;
}

#player-name::selection {
    background-color: var(--dark-colour);
    color: var(--light-colour);
}

.menu-buttons {
    padding: 15px 10px;
    font-size: 8px;
    border: none;
    background-color: #8a8a8a;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-buttons:hover {
    background-color: #5c5c5c;
}

#error-message {
    position: absolute;
    text-align: center;
    top: -30px;
    font-size: 10px;
    z-index: 1;
}

.active-menu-item {
    background-color: var(--dark-colour);
}

#gameOverScreen {
    text-align: center;
    display: none;
}

#playerNameDisplay {
    font-size: 10px;
    padding: 10px 0;
}

#gameOverScreen p {
    font-size: 10px;
    padding: 10px 0;
}

#gameOverScreen p {
    padding: 10px 0;
}

/* How To Play */
#how-to-play-screen {
    display: none;
    flex-direction: column;
    font-size: 8px;
    line-height: 1.4;
    padding: 10px;
}

#how-to-play-screen p {
    padding: 5px;
}

/* GAME AND INFO AREA */
#info-area {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

#info-area #left-info {
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

#info-area #next-pentomino {
    width: 30%;
}

#info-area #score,
#info-area #level {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#game-area {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#board {
    height: 100%;
    border: 1px solid #545454;
}

/* CONSOLE BRAND */
#console-brand {
    align-self: flex-start;
    font-size: 8px;
    padding: 3px 0;
    color: #46468e;
    word-spacing: -5px;
}

/* CONTROLS */
#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 0 15px;
    height: 100px;
}

/* DPAD & X-Y BUTTONS */
#dpad-yx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* DPAD */
#dpad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dpad #button-up,
#dpad #button-down {
    width: 15px;
    height: 20px;
    margin: 0 auto;
}

#button-up {
    border-radius: 25% 25% 0 0;
}

#button-right {
    border-radius: 0 25% 25% 0;
}

#button-down {
    border-radius: 0 0 25% 25%;
}

#button-left {
    border-radius: 25% 0 0 25%;
}

#dpad-middle {
    display: flex;
    justify-content: center;
    width: 100%;
}

#dpad #button-left,
#dpad #button-right {
    width: 20px;
    height: 15px;
}

.dpad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #000000;
    box-shadow: 0 4px #666;
    transition: all 0.1s;
}

#dpad #button-up:active,
#dpad #button-right:active,
#dpad #button-down:active,
#dpad #button-left:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.middle {
    width: 20px;
    height: 15px;
}

/* X-Y BUTTONS */
#x-y_buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

#y,
#x {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#y {
    margin-top: 20px;
    padding-right: 10px;
}

#y span,
#x span {
    font-size: 5px;
    padding-top: 8px;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #a21641;
    color: white;
    border-radius: 50%;
    box-shadow: 0 5px #570224;
    transition: all 0.1s;
}

.action-button:active {
    box-shadow: 0 2px #570224;
    transform: translateY(2px);
}

/* START-SELECT BUTTONS */
#start-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

#select-container,
#start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-25deg);
    margin: 0 10px;
    font-size: 5px;
}

.start-select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 8px;
    border: none;
    background-color: #908e7f;
    color: white;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 0 4px #70706f;
    transition: all 0.1s;
}

.start-select-button:active {
    box-shadow: 0 2px #70706f;
    transform: translateY(2px);
}

.button-pressed {
    transform: translateY(2px);
}

/* MEDIA QUERIES */

/* Large Mobile */
@media screen and (min-width: 401px) and (max-width: 480px) {
    #gameboy {
        width: calc(350px + (420 - 360) * ((100vw - 401px) / (480 - 401)));
        height: calc(800px + (1000 - 853) * ((100vw - 401px) / (480 - 401)));
    }

    #error-message {
        font-size: 12px;
        top: -35px;
    }

    #player-name {
        font-size: 12px;
        padding-left: 7px;
        margin-bottom: 5px;
    }

    .menu-buttons {
        font-size: 12px;
        margin-bottom: 13px;
    }

    #how-to-play-screen {
        font-size: 12px;
    }

    #how-to-play-screen p {
        padding: 7px;
    }
}

@media screen and (min-width: 401px) {
    #console-brand {
        font-size: 13px;
    }

    #controls {
        width: 300px;
        padding: 0 15px;
        height: 225px;
    }

    #dpad-yx {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dpad #button-up,
    #dpad #button-down {
        width: 30px;
        height: 45px;
    }

    #dpad #button-left,
    #dpad #button-right {
        width: 45px;
        height: 30px;
    }

    .middle {
        width: 35px;
        height: 30px;
    }

    .action-button {
        width: 45px;
        height: 45px;
    }

    #start-select {
        margin-bottom: 15px;
    }

    #y span,
    #x span {
        font-size: 12px;
    }

    #select-container,
    #start-container {
        font-size: 12px;
    }

    .start-select-button {
        width: 60px;
        height: 20px;
    }
}

/* Tablet (Vertical) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    #gameboy {
        width: calc(400px + (462 - 420) * ((100vw - 481px) / (768 - 481)));
        height: calc(850px + (1100 - 1000) * ((100vw - 481px) / (768 - 481)));
    }

    #error-message {
        font-size: 14px;
        top: -40px;
    }

    #player-name {
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .menu-buttons {
        font-size: 14px;
        margin-bottom: 15px;
    }

    #how-to-play-screen {
        font-size: 16px;
    }

    #how-to-play-screen p {
        padding: 10px;
    }
}

@media screen and (min-width: 481px) {
    #gameboy {
        padding: 25px 15px;
    }

    #console-brand {
        font-size: 13px;
    }

    #controls {
        width: 320px;
        padding: 0 15px;
        height: 225px;
    }

    #dpad-yx {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dpad #button-up,
    #dpad #button-down {
        width: 30px;
        height: 45px;
    }

    #dpad #button-left,
    #dpad #button-right {
        width: 45px;
        height: 30px;
    }

    .middle {
        width: 35px;
        height: 30px;
    }

    .action-button {
        width: 45px;
        height: 45px;
    }

    #start-select {
        margin-bottom: 5px;
    }

    #x-y_buttons {
        padding-top: 15px;
    }

    #y span,
    #x span {
        font-size: 12px;
    }

    #select-container,
    #start-container {
        font-size: 12px;
    }

    .start-select-button {
        width: 60px;
        height: 20px;
    }
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #gameboy {
        width: calc(500px + (500 - 462) * ((100vw - 769px) / (1024 - 769)));
        height: calc(1000px + (1100 - 1000) * ((100vw - 769px) / (1024 - 769)));
    }

    #error-message {
        font-size: 15px;
        top: -40px;
    }

    #player-name {
        font-size: 15px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .menu-buttons {
        font-size: 15px;
        margin-bottom: 15px;
    }

    #how-to-play-screen {
        font-size: 15px;
    }

    #how-to-play-screen p {
        padding: 11px;
    }
}

@media screen and (min-width: 769px) {
    #console-brand {
        font-size: 16px;
    }

    #controls {
        width: 300px;
        padding: 0 15px;
        height: 250px;
    }

    #dpad-yx {
        margin-top: 10px;
    }

    #dpad #button-up,
    #dpad #button-down {
        width: 25px;
        height: 40px;
    }

    #dpad #button-left,
    #dpad #button-right {
        width: 40px;
        height: 25px;
    }

    .middle {
        width: 35px;
        height: 25px;
    }

    .action-button {
        width: 40px;
        height: 40px;
    }

    #x-y_buttons {
        padding-top: 20px;
    }

    #y span,
    #x span {
        font-size: 10px;
    }

    #select-container,
    #start-container {
        font-size: 10px;
    }

    .start-select-button {
        width: 50px;
        height: 15px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    #gameboy {
        width: calc(375px + (500 - 450) * ((100vw - 1025px) / (1800 - 1024)));
        height: calc(750px + (1200 - 1100) * ((100vw - 1025px) / (1800 - 1024)));
    }


    #error-message {
        font-size: 14px;
        top: -45px;
    }

    #player-name {
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 6px;
    }

    .menu-buttons {
        font-size: 13px;
        margin-bottom: 12px;
    }

    #how-to-play-screen {
        font-size: 14px;
    }

    #how-to-play-screen p {
        padding: 7px;
    }
}