/* GLOBAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #a9a9a9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* START MENU */
#start-menu {
    position: relative;
    width: 260px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
}

#player-name-container {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: center;
}

#error-message {
    position: absolute;
    top: -25px;
    /* Placeholder colour */
    color: red;
}

/* GAME AREA */
#game-area {
    display: none;
}

#score {
    display: block;
    color: red;
}

#board {
    display: block;
    border: 5px solid red;
}